[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
pytz = "==2018.7"
Django = "==2.1.5"
django-crispy-forms = "*"

[requires]
python_version = "3.7"
