{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!--meta http-equiv="X-UA-Compatible" content="IE=edge"-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" type="image/png" href="{% static 'blogPosts/favicon-processor.png' %}"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'blogPosts/main.css' %}">

    {% if title %}
    <title>DS Blog - {{ title }}</title>
    {% else %}
    <title>DS Blog</title>
    {% endif %}
</head>
<body>
<div class="container">
<header class="blog-header py-3">

        <div class="h2 text-center">
            <a class="blog-header-logo text-dark" href="{% url 'blogPosts:blog-home' %}">DS Blog</a>
        </div>

</header>
<nav class="navbar navbar-expand-md navbar-light">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="{% url 'blogPosts:blog-home' %}">Home</a>
                <a class="nav-item nav-link" href="#">About</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
                {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'blogPosts:post-create' %}">New Post</a>
                <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
            <div class="sidebar-content">
                <h3>Most Popular</h3>
                <ul class="list-group">
                    {% if latest_blog_posts %}
                        {% for post in latest_blog_posts %}
                            <li class="list-group-item list-group-item-light">
                                <a href="{% url 'blogPosts:post-detail' post.slug %}">
                                {{ post.post_title }}</a></li>
                        {% endfor %}
                        {% else %}
                            <li class="list-group-item list-group-item-light">No posts are available.</li>
                        {% endif %}
                </ul>
            </div>
            <div class="sidebar-content">
                <h3>About Us</h3>
                <p>
                    The path of the righteous man is beset on all sides by the inequities of the selfish and the
                    tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak
                    through the valley of darkness, for he is truly his brother's keeper and the finder of lost
                    children. And will strike down upon thee with great vengeance and furious anger those who attempt
                    to poison and destroy my brothers. And you will know my name is the Lord when I lay my vengeance
                    upon thee.
                </p>
            </div>
        </div>
    </div>
</main>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous">
</script>
<script>
$(document).ready(() => {
    {% block jquery %}{% endblock jquery %}
})
</script>
</body>
</html>