{% extends 'blogPosts/base.html' %}
{% load markdownify %}
{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ post.author.profile.profile_image.url }}" alt="{{ post.author.username }} profile image">
        <div class="media-body">
            <div class="article-metadata">
                <small class="text-muted">Posted By {{ post.author }} on {{ post.pub_date|date:"d F, Y" }}</small>
                {% if post.author == user %}
                    {% if post.is_published %}
                    <a class="btn btn-outline-info btn-sm mt-1 mb-1 ml-4" href="{% url 'blogPosts:post-update' post.id %}">Unpublish</a>
                    {% else %}
                    <a class="btn btn-outline-info btn-sm mt-1 mb-1 ml-4" href="{% url 'blogPosts:post-update' post.id %}">Publish</a>
                    {% endif %}
                    <a class="btn btn-outline-secondary btn-sm mt-1 mb-1 ml-4" href="{% url 'blogPosts:post-update' post.id %}">Update</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'blogPosts:post-delete' post.id %}">Delete</a>
                {% endif %}
            </div>
            <h1 class="article-title-detail">{{ post.post_title }}</h1>
            {{ post.body | markdown | safe }}
        </div>
    </article>
    <div class="comment-section">
        <h1>Comments</h1>
        <a class="btn btn-light" href="{% url 'blogPosts:add-comment' post.id %}">Add Comment</a>
        {% for comment in post.comments.all %}
            <div class="comment">
                <small class="text-muted">{{ comment.username }} on {{ comment.pub_date }}</small>
                <p>{{ comment.text }}</p>
            </div>
        {% empty %}
            <p class="text-muted">There are no comments on this post yet.</p>
        {% endfor %}
    </div>
{% endblock content %}
