{% extends 'blogPosts/base.html' %}
{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ post.author.profile.profile_image.url }}" alt="{{ post.author.username }} profile image">
        <div class="media-body">
            <div class="article-metadata">
                <small class="text-muted">Posted By {{ post.author }} on {{ post.pub_date|date:"d F, Y" }}</small>
                {% if post.author == user %}
                    <a class="btn btn-outline-secondary btn-sm mt-1 mb-1 ml-4" href="{% url 'blogPosts:post-update' post.id %}">Update</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'blogPosts:post-delete' post.id %}">Delete</a>
                {% endif %}
            </div>
            <h1 class="article-title-detail">{{ post.post_title }}</h1>
            <p class="article-content">{{ post.body }}</p>
        </div>
    </article>
{% endblock content %}
