{% extends "blogPosts/base.html" %}
{% block content %}
{% if latest_blog_posts %}
    {% for post in latest_blog_posts %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ post.author.profile.profile_image.url }}" alt="{{ post.author.username }} profile image">
            <div class="media-body">
                <div class="article-metadata">
                    <small class="text-muted">Posted By {{ post.author }} on {{ post.pub_date|date:"d F, Y" }}</small>
                </div>
                <h2><a class="article-title" href="{% url 'blogPosts:post-detail' post.id %}">{{ post.post_title }}</a></h2>
                <p class="article-content">{{ post.subtitle }}</p>
            </div>
        </article>
    {% endfor %}
{% else %}
    <p>No posts are available.</p>
{% endif %}
{% endblock content %}
